#header,
.module h2, .module caption, .inline-group h2{
    background: #343240;
}

a:link, a:visited {
    color: #343240;
}

div.breadcrumbs {
    background: darkslategray;

}
#nav-sidebar {
    background-color: darkslategray;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: cadetblue;

}